<div class="container ajax-container">
  <h2 class="text-6 fw-600 text-center mb-4">Project Palindrome</h2>
  <div class="row g-4">
    <div class="col-md-7">
      <div class="owl-carousel owl-theme single-slideshow" data-autoplay="true" data-loop="true" data-nav="true"
        data-items="1">
        <div class="item"> <img class="img-fluid" alt="" src="/images/projects/Project-Palindrome.png"> </div>
        <div class="item"> <img class="img-fluid" alt="" src="/images/projects/Project-Palindrome1.png"> </div>
        <div class="item"> <img class="img-fluid" alt="" src="/images/projects/Project-Palindrome2.png"> </div>
      </div>
    </div>
    <div class="col-md-5">
      <h4 class="text-4 fw-600">Project Info:</h4>
      <p>
        The goal of this project is to input a string and use a function to check if it is a palindrome. A palindrome is
        a word or phrase that reads the same backward and forward. When palindromes are the length of a sentence, they
        ignore capitalization, punctuation, and word boundaries.
      </p>
      <h4 class="text-4 fw-600 mt-4">Project Details:</h4>
      <ul class="list-style-2">
        <li class=""><span class="text-dark fw-600 me-2">Category:</span>Algorithms</li>
        <li class=""><span class="text-dark fw-600 me-2">Technologies:</span> <br>
          HTML5<br>
          CSS3<br>
          Bootstrap 5 <br>
          Javascript<br>
        </li>
        <li class=""><span class="text-dark fw-600 me-2">Date:</span>Dec 15, 2021</li>
        <li class=""><span class="text-dark fw-600 me-2">URL:</span><a
            href="https://project-palindrome.netlify.app/index.html" target="_blank">www.palindrome.com</a></li>
      </ul>
    </div>
  </div>
</div>