<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi"
    />
    <title>Angelus T Dev Portfolio</title>
    <meta name="description" content="This is the portfolio of Andy Taylor." />
    <meta name="author" content="Angelus C. Taylor" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='act_favicon.ico') }}" />
    <!-- <link rel="icon" type="image/png" href="/static/images/favicon.png" /> -->
    <link rel="stylesheet" href="/static/css/font-awesome-pro.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/scroll_button.css" />
    <link rel="stylesheet" href="/static/css/spacing.css" />
    <link rel="stylesheet" href="/static/css/plugin.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/responsive.css" />
  </head>

  <body class="home_3">
    <!--================================
        PRELOADER START
    =================================-->
    <div class="preloader">
      <svg viewBox="0 0 1000 1000" preserveAspectRatio="none">
        <path id="svg" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"></path>
      </svg>
      <h5 class="preloader-text">ANGELUS</h5>
    </div>
    <!--================================
        PRELOADER END
    =================================-->

    <!--================================
        BANNER START
    =================================-->
    <section
      class="tf__banner banner"
      style="
        background: url(images/bg/banner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-attachment: fixed;
      "
    >
      <div class="container">
        <div class="tf__banner_text text-center">
          <h1>
            Thank you for submitting a request. We will be back with you within:<br />
            <span class="cd-headline clip">
              <!-- ANIMATE TEXT VALUES: zoom, rotate-1, letters type, letters rotate-2, loading-bar, slide, clip, letters rotate-3, letters scale, push,  -->
              <span class="cd-words-wrapper">
                <b class="is-visible">24 hours</b>
                <b>Thank You</b>
                <b>😁</b>
              </span>
            </span>
          </h1>
          <p>Back to Home Page</p>
          <ul class="justify-content-center">
            <li>
              <a class="common_btn" href="./index.html">Home <i class="fa-solid fa-house"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!--================================
        BANNER END
    =================================-->

    <!--================================
        SCROLL BUTTON START
    =================================-->
    <div class="progress active c-pointer">
      <svg class="progress-svg" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
      </svg>
    </div>
    <!--================================
        SCROLL BUTTON END
    =================================-->

    <!--================================
        CURSOR START
    =================================-->
    <div id="magic-cursor">
      <div id="ball"></div>
    </div>
    <!--================================
        CURSOR END
    =================================-->

    <script src="/static/js/app.js"></script>
    <script src="/static/js/plugin.js"></script>
    <!--scroll button js-->
    <script src="/static/js/scroll_button.js"></script>
    <!--sticky sidebar js-->
    <script src="/static/js/sticky_sidebar.js"></script>
    <!-- Gsap -->
    <script src="/static/js/animation.js"></script>
    <!--main/custom js-->
    <script src="/static/js/main.js"></script>
  </body>
</html>
